
body::before{
    display:block;
    content:"";
    height: 200px;
}

.carousel-inner {
   max-height: 500px;
   background-position: cover;
   border-radius: 12px;
   box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.4); ;
   
}

.carousel-item > img{
padding-bottom: 200px;
}

.div .container{
    position:sticky;
    top:0;
    z-index: 1;
    background-color: bisque;
}

.txtvioleta{
    color: rgb(155, 91, 8);
}

nav{
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.4); 
}

